// main file for your site's css
//
@import "blueprint/grid";
@import "blueprint/debug";

@import "partials/base";

// set up blueprint grid
$blueprint-grid-columns: 24;
$blueprint-container-size: 950px;
$blueprint-grid-margin: 10px;
$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / 
                        $blueprint-grid-columns - $blueprint-grid-margin;

// $blueprint-grid-outer-width: $blueprint-grid-width + $blueprint-grid-margin;

header, footer, div[role="main"] { @include container; }

header { 
	margin-top: 6px;
	@if $debuggering { background: $limon; } 
}

div[role="main"] { 
	@if $debuggering { 
		background: $lemon; 
		@include showgrid; 
	} 
}

footer { 
	@if $debuggering { background: $orangina; } 
}